apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "apache.fullname" . }}-extendedconfigs
  labels:
    {{- include "apache.labels" . | nindent 4 }}
data:
  httpd-default.conf: |
    <VirtualHost *:*>
            LoadModule _1cws_module modules/1c/wsap24.so
            DocumentRoot "conf/vrd/{{ .Values.db.name }}"
            <Directory "conf/vrd/{{ .Values.db.name }}">
                    AllowOverride All
                    Options None
                    Require all granted
                    SetHandler 1c-application
                    ManagedApplicationDescriptor "conf/vrd/{{ .Values.db.name }}/{{ .Values.db.name }}.vrd"
            </Directory>
    </VirtualHost>
