apiVersion: v1
kind: Secret
metadata:
  name: cs-config
  labels:
    {{- include "kubeonec-cs.labels" . | nindent 4 }}
type: Opaque
stringData:
  jdbc.yml: |
    jdbc:
      common:
        url: jdbc:postgresql://{{ template "postgres.fullname" .Subcharts.postgresql }}:5432/{{ .Values.postgresql.userDatabase.name.value }}?currentSchema=public
        username: {{ .Values.postgresql.settings.superuser.value }}
        password: {{ .Values.postgresql.settings.superuserPassword.value }}
      privileged:
        url: jdbc:postgresql://{{ template "postgres.fullname" .Subcharts.postgresql }}:5432/{{ .Values.postgresql.userDatabase.name.value }}?currentSchema=public
        username: {{ .Values.postgresql.settings.superuser.value }}
        password: {{ .Values.postgresql.settings.superuserPassword.value }}
  hazelcast.yml: |
    hazelcast:
      addresses: localhost
  elasticsearch.yml: |
    elasticsearch:
      addresses: localhost:9300
