{{- if .Values.postgresql.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kubeonec-cs.fullname" . }}-config
  labels:
    {{- include "kubeonec-cs.labels" . | nindent 4 }}
type: Opaque
data:
  jdbc.yml: |
    jdbc:
      common:
        url: jdbc:postgresql://postgres:5432/{{ .Values.postgresql.settings.database }}?currentSchema=public
        username: {{ .Values.postgresql.settings.superuser.value }}
        password: {{ .Values.postgresql.settings.superuserPassword.value }}
      privileged:
        url: jdbc:postgresql://postgres:5432/{{ .Values.postgresql.settings.database }}?currentSchema=public
        username: {{ .Values.postgresql.settings.superuser.value }}
        password: {{ .Values.postgresql.settings.superuserPassword.value }}
{{- end }}
